.img-box{
  width: 100px;
  height: 100px;
}
.img-box img{
  width: 100%;
}
.zoom-img-box{
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.zoom-img-box img{
  width: 100%;
  height: 100%;
}